@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap%27%');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: #262626 !important;
	font-family: RobotoInCjk, 'Noto Sans KR', 'Apple SD Gothic Neo', 'Nanum Gothic', 'Malgun Gothic', sans-serif !important;
	height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
}

#set {
	max-width: 700px;
	margin: 0 auto;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	background: #262626;
	min-width: 320px;
}

.set-header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: #262626;
	z-index: 9000;
	height: 56px;
}

.header-inner {
	position: relative;
	max-width: 700px;
	margin: 0 auto;
	overflow: hidden;
	justify-content: space-between;
}

.set-header h1 {
	margin: 0 auto;
	padding: 0 60px;
	box-sizing: border-box;
	max-width: 700px;
	height: 56px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	line-height: 56px;
	overflow: hidden;
	white-space: nowrap;
	word-break: break-all;
	text-overflow: ellipsis;
	letter-spacing: -0.02em;
	color: #efefef;
}

.set-header .btn-back {
	position: absolute;
	left: 6px;
	top: 12px;
	color: #efefef;
	z-index: 9001;
	cursor: pointer;
}

button {
	background: none;
	border: none;
	outline: 0;
}

.header-back {
	width: 32px;
	height: 32px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMC4wNjA3IDI0LjA2MDdDMTkuNDc0OSAyNC42NDY0IDE4LjUyNTEgMjQuNjQ2NCAxNy45MzkzIDI0LjA2MDdMMTAuNDM5MyAxNi41NjA3QzkuODUzNTUgMTUuOTc0OSA5Ljg1MzU1IDE1LjAyNTEgMTAuNDM5MyAxNC40MzkzTDE3LjkzOTMgNi45MzkzNEMxOC41MjUxIDYuMzUzNTUgMTkuNDc0OSA2LjM1MzU1IDIwLjA2MDcgNi45MzkzNEMyMC42NDY0IDcuNTI1MTMgMjAuNjQ2NCA4LjQ3NDg3IDIwLjA2MDcgOS4wNjA2NkwxMy42MjEzIDE1LjVMMjAuMDYwNyAyMS45MzkzQzIwLjY0NjQgMjIuNTI1MSAyMC42NDY0IDIzLjQ3NDkgMjAuMDYwNyAyNC4wNjA3WiIgZmlsbD0iI2VmZWZlZiIvPgo8L3N2Zz4K);
}

.icon {
	display: inline-block;
	line-height: 16px;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 100% 100%;
	object-fit: contain;
	vertical-align: middle;
}

.settings-items {
	position: relative;
	margin: 54px 0 0;
	color: #efefef;
}

.settings-list-title {
	background: #363636;
	padding: 16px 16px 8px;
}

.settings-list-title h5 {
	font-size: 13px;
	font-weight: 500;
	line-height: 12px;
	color: #b4b4b4;
}

.menu-list {
	position: relative;
}

.menu-list li:last-child {
	margin-bottom: 0;
}

li {
	list-style: none;
}

.menu-list li .text {
	font-size: 14px;
	font-weight: 400;
	color: #efefef;
	margin-left: -40px;
}

.border {
	margin: 16px 0;
}

.menu-list li {
	height: 56px;
	padding: 18px 16px;
}

.user-action {
	border-top: 1px solid rgb(43, 42, 42);
}

.footer {
	background: #1c1d1f;
	background-attachment: fixed;
	text-align: center;
	margin-top: 80px;
	padding: 50px 0px;
	width: 100%;
	height: 150px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.footer p {
	text-transform: uppercase;
	font-size: 15px;
	margin-top: 10px;
	color: white;
}

html,
body {
	-ms-overflow-style: none;
}

::-webkit-scrollbar {
	display: none;
}

#contents {
	max-width: 700px;
	margin: 0 auto;
}

#header.tit_page {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: #262626;
	z-index: 9000;
	height: 56px;
}

#header.tit_page .header-inner {
	position: relative;
	max-width: 700px;
	margin: 0 auto;
	overflow: hidden;
	justify-content: space-between;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#header.tit_page h1 {
	margin: 0 auto;
	padding: 0 60px;
	box-sizing: border-box;
	max-width: 700px;
	height: 56px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	line-height: 56px;
	overflow: hidden;
	white-space: nowrap;
	word-break: break-all;
	text-overflow: ellipsis;
	letter-spacing: -0.02em;
	color: #efefef;
	transition: all 0.3s ease-in;
}

#header.tit_page .btn-back {
	position: absolute;
	left: 6px;
	top: 12px;
	color: #efefef;
	z-index: 9001;
}

button {
	background: none;
	border: none;
	outline: 0;
}

.header-back {
	width: 32px;
	height: 32px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMC4wNjA3IDI0LjA2MDdDMTkuNDc0OSAyNC42NDY0IDE4LjUyNTEgMjQuNjQ2NCAxNy45MzkzIDI0LjA2MDdMMTAuNDM5MyAxNi41NjA3QzkuODUzNTUgMTUuOTc0OSA5Ljg1MzU1IDE1LjAyNTEgMTAuNDM5MyAxNC40MzkzTDE3LjkzOTMgNi45MzkzNEMxOC41MjUxIDYuMzUzNTUgMTkuNDc0OSA2LjM1MzU1IDIwLjA2MDcgNi45MzkzNEMyMC42NDY0IDcuNTI1MTMgMjAuNjQ2NCA4LjQ3NDg3IDIwLjA2MDcgOS4wNjA2NkwxMy42MjEzIDE1LjVMMjAuMDYwNyAyMS45MzkzQzIwLjY0NjQgMjIuNTI1MSAyMC42NDY0IDIzLjQ3NDkgMjAuMDYwNyAyNC4wNjA3WiIgZmlsbD0iI2VmZWZlZiIvPgo8L3N2Zz4K);
}

.icon {
	-webkit-font-smoothing: antialiased;
	display: inline-block;

	line-height: 16px;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 100% 100%;
	-o-object-fit: contain;
	object-fit: contain;
	vertical-align: middle;
}

.faq-item-area {
	position: relative;
	padding: 70px 0 30px;
}

.accordion .header {
	background: #262626;
	height: 72px;
	width: 100%;
	max-width: 700px;
	padding: 0 16px;
	position: relative;
	cursor: pointer;
	border-bottom: 1px rgb(70, 70, 70) solid;
}

.accordion .header .icon {
	position: absolute;
	top: 20px;
	left: 16px;
	transform: rotate(0deg);
	transition-duration: 0.3s;
}

.faq-plus {
	width: 32px;
	height: 32px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMy4wNzUgMjMuMDcwMUMyMS4xODU5IDI0Ljk1OTggMTguNjc0NSAyNiAxNi4wMDI1IDI2QzEzLjMzMDQgMjYgMTAuODE5IDI0Ljk1OTggOC45MjkzNCAyMy4wNzAxQzcuMDQwMjYgMjEuMTgxMSA2IDE4LjY2OTIgNiAxNS45OTc4QzYgMTMuMzI1OSA3LjA0MDI2IDEwLjgxNDYgOC45MjkzNCA4LjkyNDk0QzEwLjg3OTQgNi45NzQ5OCAxMy40NDEyIDYgMTYuMDAyNSA2QzE4LjU2MzcgNiAyMS4xMjUgNi45NzQ5OCAyMy4wNzUgOC45MjQ5NEMyNi45NzUgMTIuODI0OSAyNi45NzUgMTkuMTcwMiAyMy4wNzUgMjMuMDcwMVpNMTYgMTFDMTUuNDkyOCAxMSAxNS4wODE2IDExLjQxMTIgMTUuMDgxNiAxMS45MTg0VjE1LjA4MTZIMTEuOTE4NEMxMS40MTEyIDE1LjA4MTYgMTEgMTUuNDkyOCAxMSAxNkMxMSAxNi41MDcyIDExLjQxMTIgMTYuOTE4NCAxMS45MTg0IDE2LjkxODRIMTUuMDgxNlYyMC4wODE2QzE1LjA4MTYgMjAuNTg4OCAxNS40OTI4IDIxIDE2IDIxQzE2LjUwNzIgMjEgMTYuOTE4NCAyMC41ODg4IDE2LjkxODQgMjAuMDgxNlYxNi45MTg0SDIwLjA4MTZDMjAuNTg4OCAxNi45MTg0IDIxIDE2LjUwNzIgMjEgMTZDMjEgMTUuNDkyOCAyMC41ODg4IDE1LjA4MTYgMjAuMDgxNiAxNS4wODE2SDE2LjkxODRWMTEuOTE4NEMxNi45MTg0IDExLjQxMTIgMTYuNTA3MiAxMSAxNiAxMVoiIGZpbGw9IiNFOUVDRUYiLz4KPC9zdmc+Cg==);
}

.faq-minus {
	width: 32px;
	height: 32px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNi4wMDI1IDI2QzE4LjY3NDUgMjYgMjEuMTg1OSAyNC45NTk4IDIzLjA3NSAyMy4wNzAxQzI2Ljk3NSAxOS4xNzAyIDI2Ljk3NSAxMi44MjQ5IDIzLjA3NSA4LjkyNDk0QzIxLjEyNSA2Ljk3NDk4IDE4LjU2MzcgNiAxNi4wMDI1IDZDMTMuNDQxMiA2IDEwLjg3OTQgNi45NzQ5OCA4LjkyOTM0IDguOTI0OTRDNy4wNDAyNiAxMC44MTQ2IDYgMTMuMzI1OSA2IDE1Ljk5NzhDNiAxOC42NjkyIDcuMDQwMjYgMjEuMTgxMSA4LjkyOTM0IDIzLjA3MDFDMTAuODE5IDI0Ljk1OTggMTMuMzMwNCAyNiAxNi4wMDI1IDI2Wk0xMiAxNUMxMS40NDc3IDE1IDExIDE1LjQ0NzcgMTEgMTZDMTEgMTYuNTUyMyAxMS40NDc3IDE3IDEyIDE3SDIwQzIwLjU1MjMgMTcgMjEgMTYuNTUyMyAyMSAxNkMyMSAxNS40NDc3IDIwLjU1MjMgMTUgMjAgMTVIMTJaIiBmaWxsPSIjRTlFQ0VGIi8+Cjwvc3ZnPgo=);
}

.accordion .header .title {
	position: absolute;
	width: calc(100% - 72px);
	left: 56px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 15px;
	font-weight: 400;
	line-height: 22.5px;
	color: #d4d9e1;
	vertical-align: middle;
}

.other-wrap {
	height: 100px;
	text-align: center;
	padding: 40px 0;
	font-size: 14px;
	color: #98a4b7;
	font-weight: 400;
}

.other-wrap a {
	margin-left: 3px;
	text-decoration: underline;
}

a {
	color: inherit;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
}

.contents {
	overflow: hidden;
	background: transparent;
	display: none;
	transition: 0.15s ease-out;
}

.contents-inner {
	padding: 16px;
	word-wrap: break-word;
	background: #2b2b2b;
	font-size: 14px;
	line-height: 22.5px;
	font-weight: 400;
	color: #d4d9e1;
}

/* 마이페이지 */

.mypage {
	padding-top: 110px;
	padding-bottom: unset;
}

.mypage-back {
	flex: 1 1 0%;
	margin: 28px 0px 30px;
}

.mypage-size {
	max-width: 640px;
	margin: 0px auto;
}

.mypage-box {
	background: rgb(78, 78, 78);
	overflow: hidden;
	border-radius: 6px;
}

.mypage-img {
	position: relative;
	height: 0px;
	padding-top: 32%;
	background: url(/edu-meeting/edu-meeting/mypagePatternResize.2e73487f09488acbeb2d.jpg) 00% 0% / 180px 210px;
	margin: 0px 0px -20px;
}

.setting {
	padding: 0px;
	border: none;
	margin: 0px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxwYXRoIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE5LjQzIDEyLjk4Yy4wNC0uMzIuMDctLjY0LjA3LS45OCAwLS4zNC0uMDMtLjY2LS4wNy0uOThsMi4xMS0xLjY1Yy4xOS0uMTUuMjQtLjQyLjEyLS42NGwtMi0zLjQ2Yy0uMTItLjIyLS4zOS0uMy0uNjEtLjIybC0yLjQ5IDFjLS41Mi0uNC0xLjA4LS43My0xLjY5LS45OGwtLjM4LTIuNjVBLjQ4OC40ODggMCAwIDAgMTQgMmgtNGMtLjI1IDAtLjQ2LjE4LS40OS40MmwtLjM4IDIuNjVjLS42MS4yNS0xLjE3LjU5LTEuNjkuOThsLTIuNDktMWMtLjIzLS4wOS0uNDkgMC0uNjEuMjJsLTIgMy40NmMtLjEzLjIyLS4wNy40OS4xMi42NGwyLjExIDEuNjVjLS4wNC4zMi0uMDcuNjUtLjA3Ljk4IDAgLjMzLjAzLjY2LjA3Ljk4bC0yLjExIDEuNjVjLS4xOS4xNS0uMjQuNDItLjEyLjY0bDIgMy40NmMuMTIuMjIuMzkuMy42MS4yMmwyLjQ5LTFjLjUyLjQgMS4wOC43MyAxLjY5Ljk4bC4zOCAyLjY1Yy4wMy4yNC4yNC40Mi40OS40Mmg0Yy4yNSAwIC40Ni0uMTguNDktLjQybC4zOC0yLjY1Yy42MS0uMjUgMS4xNy0uNTkgMS42OS0uOThsMi40OSAxYy4yMy4wOS40OSAwIC42MS0uMjJsMi0zLjQ2Yy4xMi0uMjIuMDctLjQ5LS4xMi0uNjRsLTIuMTEtMS42NXpNMTIgMTUuNWMtMS45MyAwLTMuNS0xLjU3LTMuNS0zLjVzMS41Ny0zLjUgMy41LTMuNSAzLjUgMS41NyAzLjUgMy41LTEuNTcgMy41LTMuNSAzLjV6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=)
		center center / cover no-repeat;
	width: 24px;
	height: 24px;
}

.mypage-con {
	margin: 0px 20px;
}

.mypage-border {
	position: relative;
	padding-bottom: 26px;
	border-bottom: 1px solid rgb(117, 117, 117);
}

.mypage-profile {
	border: 1px solid rgba(0, 0, 0, 0.08);
	border-radius: 50%;
	display: flex;
	position: relative;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	width: 56px;
	height: 56px;
	overflow: hidden;
}

.profile-img {
	position: relative;
	z-index: 1;
	background: url(https://an2-glx.amz.wtchn.net/assets/default/user/photo_file_name_small-ab0a7f6a92a282859192ba17dd4822023e22273e168c2daf05795e5171e66446.jpg)
		no-repeat center;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.mypage-user {
	display: flex;
	align-items: center;
	margin-top: 15px;
}

.user-name {
	color: rgb(255, 255, 255);
	font-size: 25px;
	font-weight: 700;
	letter-spacing: -0.9px;
	line-height: 30px;
	width: 100%;
	word-break: break-all;
}

.mypage-list-box {
	margin: 0 auto 40px;
	padding-top: 40px;
}

.mypage-list {
	padding: 21px 0 22px;
	display: flex;
	justify-content: space-around;
	background: rgb(78, 78, 78);
	border-radius: 6px;
}

.content-list {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: center;
	position: relative;
}

.content-count {
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
}

.content-label {
	padding-top: 4px;
	color: #feffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
}

.mypage-list .content-list:not(:first-child):after {
	content: '';
	width: 1px;
	height: 72px;
	background-color: #7c7c7c;
	position: absolute;
	left: 0;
}

.user-write {
	color: rgb(207, 201, 201);
	font-size: 15px;
	font-weight: 400;
	letter-spacing: -0.5px;
	line-height: 20px;
	margin-top: 5px;
}

.movie-item-wrap {
	background: #383838;
	border-radius: 6px;
	padding: 16px 16px 8px;
}

.movie-info-area {
	display: flex;
	padding-bottom: 12px;
}

.movie-poster-container .poster {
	width: 60px;
	height: 87px;
	border-radius: 4px;
}

.movie-poster-container img {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}

/*
찜했어요
*/

.movie-description-warp {
	padding: 4px 0 2px 12px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.movie-description-warp .movie-meta-area {
	display: flex;
	flex-direction: column;
}

.movie-meta-area .movie-title-container {
	display: flex;
	justify-content: space-between;
}

.movie-title-container .movie-title {
	color: #efefef;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: -0.01px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.movie-action-wrap > svg {
	width: 20px;
	height: 20px;
	margin-left: 6px;
}

.movie-meta-container {
	padding-top: 4px;
	color: #949494;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
}

ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

.contents-area {
	--top: 100px;
	padding-top: var(--top);
}

/*
내가 쓴 리뷰
*/
.icon--btn-delete-normal {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0iI0EwQTBBMCIgZD0iTTUuMjUgMTQuMjVoNy41di03LjVoMS41VjE1YS43NS43NSAwIDAgMS0uNzUuNzVoLTlhLjc1Ljc1IDAgMCAxLS43NS0uNzVWNi43NWgxLjV2Ny41ek0xMiA0LjVoMy43NVY2SDIuMjVWNC41SDZWM2EuNzUuNzUgMCAwIDEgLjc1LS43NWg0LjVBLjc1Ljc1IDAgMCAxIDEyIDN2MS41em0tMS41IDB2LS43NWgtM3YuNzVoM3pNNi43NSA2Ljc1aDEuNXY2Ljc1aC0xLjVWNi43NXptMyAwaDEuNXY2Ljc1aC0xLjVWNi43NXoiLz4KICAgIDwvZz4KPC9zdmc+Cg==);
}

.icon--btn-correction-normal {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0iI0EwQTBBMCIgZD0iTTIuMTggMTUuMzlsLjcwMy0zLjk4IDMuNzEzIDMuNzEyLTMuOTgxLjcwMmEuMzc0LjM3NCAwIDAgMS0uNDM0LS40MzR6bTEuNDk4LTQuNzc2bDYuMzY0LTYuMzY0IDMuNzEzIDMuNzEyLTYuMzY0IDYuMzY0LTMuNzEzLTMuNzEyek0xNS42MDcgNS4wNGEuNzUuNzUgMCAwIDEgMCAxLjA2bC0xLjA2IDEuMDYxLTMuNzEzLTMuNzEyIDEuMDYtMS4wNmEuNzUuNzUgMCAwIDEgMS4wNiAwbDIuNjUzIDIuNjUxeiIvPgogICAgPC9nPgo8L3N2Zz4K);
}

.movie-poster-wrap {
	position: relative;
	z-index: 3;
	display: inline-block;
	width: 48px;
	height: 64px;
}

.movie-poster-wrap .poster-image {
	width: 100%;
	height: 100%;
	border-radius: 6px;
}

.write-ago {
	position: absolute;
	top: 17px;
	right: 16px;
	vertical-align: middle;
	font-size: 13px;
	color: #98a4b7;
	font-weight: 400;
}

.movie-info-wrap {
	position: relative;
	width: calc(100% - 120px);
	margin-left: 7px;
	display: inline-block;
	vertical-align: top;
}

.movie-title {
	position: relative;
	width: 100%;
	margin-top: 7px;
	font-size: 15px;
	font-weight: 500;
	color: #efefef;
	text-align: justify;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
