@charset "utf-8";

/* Web fonts------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Smooch&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: #262626 !important;
	font-family: RobotoInCjk, 'Noto Sans KR', 'Apple SD Gothic Neo', 'Nanum Gothic', 'Malgun Gothic', sans-serif !important;
}

.editor {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}

.editor-header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: #262626;
	z-index: 9000;
	height: 76px;
}

.editor-header-inner {
	position: relative;
	max-width: 700px;
	margin: 0 auto;
	overflow: hidden;
	justify-content: space-between;
}

.editor-header h1 {
	margin: 0 auto;
	padding: 0 60px;
	box-sizing: border-box;
	max-width: 700px;
	height: 76px;
	font-size: 26px;
	font-weight: 700;
	text-align: center;
	line-height: 76px;
	letter-spacing: -0.02em;
	color: #efefef;
}

.editor-btn-back {
	position: absolute;
	left: 6px;
	top: 22px;
	color: #efefef;
	z-index: 9001;
}

.back-icon--header-back {
	width: 32px;
	height: 32px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMC4wNjA3IDI0LjA2MDdDMTkuNDc0OSAyNC42NDY0IDE4LjUyNTEgMjQuNjQ2NCAxNy45MzkzIDI0LjA2MDdMMTAuNDM5MyAxNi41NjA3QzkuODUzNTUgMTUuOTc0OSA5Ljg1MzU1IDE1LjAyNTEgMTAuNDM5MyAxNC40MzkzTDE3LjkzOTMgNi45MzkzNEMxOC41MjUxIDYuMzUzNTUgMTkuNDc0OSA2LjM1MzU1IDIwLjA2MDcgNi45MzkzNEMyMC42NDY0IDcuNTI1MTMgMjAuNjQ2NCA4LjQ3NDg3IDIwLjA2MDcgOS4wNjA2NkwxMy42MjEzIDE1LjVMMjAuMDYwNyAyMS45MzkzQzIwLjY0NjQgMjIuNTI1MSAyMC42NDY0IDIzLjQ3NDkgMjAuMDYwNyAyNC4wNjA3WiIgZmlsbD0iI2VmZWZlZiIvPgo8L3N2Zz4K);
}

.back-icon {
	display: inline-block;
	line-height: 16px;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 100% 100%;
	object-fit: contain;
	vertical-align: middle;
}

button {
	background: none;
	border: none;
	outline: 0;
}

.editor-wrap {
	position: relative;
	z-index: 100;
	padding-top: 138px;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	background-color: transparent;
}

.editor-container {
	display: flex;
	align-items: center;
	overflow: hidden;
	background: white;
	border-radius: 6px;
}

.editor-container .poster-img {
	width: 115px;
	height: 86px;
}

.editor-container .poster-img img {
	width: 100%;
	height: 100%;
	border-radius: 6px 0 0 6px;
	object-fit: cover;
}

.editor-container .content-wrap {
	padding: 0 16px;
	display: flex;
	flex-direction: column;
	flex: 1;
	min-width: 0;
}

.content-wrap .story-title {
	height: 16px;
	display: flex;
}

.content-wrap .story-title .title {
	position: relative;
	font-size: 12px;
	color: rgb(51, 49, 49);
	letter-spacing: -0.2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.content-wrap .desc {
	width: 100%;
	margin-top: 6px;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #262626;
	letter-spacing: -0.1px;
	flex: 1;
	overflow: hidden;
	white-space: normal;
	word-break: keep-all;
}

.editor-wrap > .mainContent > div:nth-child(n + 2) {
	margin-top: 26px;
}

