@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');

body {
	font-family: RobotoInCjk, 'Noto Sans KR', 'Apple SD Gothic Neo', 'Nanum Gothic', 'Malgun Gothic', sans-serif !important;
}

.review-view {
	padding-top: 110px;
	padding-bottom: unset;
}

.reiview-wrap {
	max-width: 1200px;
	margin: 0px auto;
	min-height: calc(100vh - 210px);
}

.view-container {
	margin-right: 60px;
	margin-left: 60px;
}

.view-list {
	display: flex;
	margin-bottom: 18px;
	margin: 18px 0px 16px;
}

.wrap {
	flex: 1 1 0%;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: -0.7px;
	line-height: 22px;
	overflow: hidden;
}

.img-box {
	border: 1px solid rgba(0, 0, 0, 0.08);
	border-radius: 50%;
	display: flex;
	position: relative;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	overflow: hidden;
	flex-shrink: 0;
	margin: 3px 5px 3px 0px;
	width: 20px;
	height: 20px;
}

.user-img {
	position: relative;
	z-index: 1;
	background: url(https://an2-img.amz.wtchn.net/image/v2/-Dgo3Huny8GCTpaT6jvicg.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1UQXdlREV3TUNKZExDSndJam9pTDNZeUwzTjBiM0psTDNWelpYSXZiR1F3Y1RCV2FqY3pOVFpZYmk5d2NtOW1hV3hsTHpFMk16WXhNekExTmpjME5EUTBNVGczTnpZaWZRLl9kOGdmaUs2QUpINHpEekRaNWY3MGlsTW1qa1lIMEFlUXpObTd1ZmVnWDQ)
		center center / cover no-repeat;
	width: 100%;
	height: 100%;
}

.user {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.user-name {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: -0.2px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	color: rgb(255, 255, 255);
	line-height: 16px;
}

.review-date {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: -0.2px;
	color: rgb(170, 170, 170);
	line-height: 16px;
	margin-left: 4px;
}

.wrap > a {
	display: flex;
	flex: 1 1 0%;
	-webkit-box-align: center;
	align-items: center;
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.movie-tit {
	color: rgb(255, 255, 255);
	font-size: 16px;
	letter-spacing: -0.6px;
	line-height: 21px;
	margin-top: 3px;
}

.movie-g {
	color: rgb(120, 120, 120);
	font-size: 12px;
	letter-spacing: -0.2px;
	line-height: 16px;
	margin-top: 3px;
}

.rating {
	display: flex;
	margin-top: 5px;
}

.star {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	background: rgb(255, 255, 255);
	color: rgb(74, 74, 74);
	font-weight: 400;
	letter-spacing: -0.3px;
	font-size: 13px;
	line-height: 16px;
	box-sizing: border-box;
	height: 24px;
	padding-right: 8px;
	padding-left: 8px;
	border: 1px solid rgb(234, 234, 234);
	border-radius: 13px;
}

.star > span {
	margin-left: 4px;
}

.movie-img {
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	width: 72px;
	height: 106px;
	border: 0.5px solid rgba(0, 0, 0, 0.16);
	border-radius: 3px;
	background: rgb(248, 248, 248);
	transition: all 300ms ease 0s;
}

.poster {
	vertical-align: top;
	width: 100%;
	height: 100%;
	opacity: 1;
	object-fit: cover;
	transition: opacity 420ms ease 0s;
}

.review-in {
	position: relative;
	color: rgb(255, 255, 255);
	font-size: 16px;
	letter-spacing: -0.6px;
	line-height: 25px;
	margin-bottom: 22px;
}

.inner {
	white-space: pre-wrap;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: -0.2px;
	line-height: 24px;
	overflow: hidden;
	opacity: 1;
	transition: all 400ms ease 0s;
}

.reaction {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	height: 40px;
	margin-top: 32px;
}

.reaction-wrap {
	color: rgb(165, 164, 164);
	font-size: 12px;
	letter-spacing: -0.2px;
	line-height: 16px;
}

.svg-wrap {
	position: relative;
}

.more {
	display: block;
	color: inherit;
	font-family: Inter, Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
	width: auto;
	height: auto;
	backface-visibility: hidden;
}

.more > div {
	line-height: 0;
}

.more svg {
	width: 20px;
	height: auto;
}

.more-box {
	position: absolute;
	top: 100%;
	right: 0px;
	z-index: 10;
	font-size: 15px;
	display: none;
}

.box-con {
	display: flex;
	flex-direction: column;
	background: rgb(255, 255, 255);
	box-sizing: border-box;
	width: 176px;
	padding: 5px;
	border-radius: 7px;
	box-shadow: rgb(0 0 0 / 17%) 0px 1px 6px;
}

.box-in {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	background: rgb(255, 255, 255);
	color: rgb(41, 42, 50);
	box-sizing: border-box;
	width: 100%;
	height: 36px;
	border-radius: 5px;
	cursor: pointer;
	padding-left: 7px;
}

.bo {
	border-width: 0px 0px 1px;
	border-top-style: initial;
	border-right-style: initial;
	border-left-style: initial;
	border-top-color: initial;
	border-right-color: initial;
	border-left-color: initial;
	border-image: initial;
	border-bottom-style: solid;
	border-bottom-color: rgb(255, 255, 255);
}

hr {
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}

.bottom-btn {
	display: grid;
	position: relative;
	grid-template-columns: 1fr 1fr;
	gap: 1px;
	height: 43px;
}

.btn {
	background: none;
	padding: 0px;
	border: none;
	cursor: pointer;
	display: flex;
	position: relative;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	color: rgb(255, 255, 255);
	font-size: 15px;
	letter-spacing: -0.3px;
	line-height: 18px;
	border-radius: 5px;
	margin: 3px;
}

.btn svg {
	margin-right: 5px;
}

.icon {
	width: 20px;
	height: 20px;
}

footer {
	display: block;
	box-sizing: border-box;
	width: 100%;
}

.footer-in {
	background: #1c1d1f;
	line-height: 100px;
	text-align: center;
	width: 100%;
	height: 100px;
}

.footer-in span {
	color: white;
}
